
<div *ngFor="let ques of questions; let i=index;" [hidden]="choix!=i+1" class="modal">

    <p> {{ques.title}} ? </p>

    <ol style="list-style-type: decimal;">
      <li *ngFor="let ans of ques.answers"> {{ans}}</li>
    </ol>

    <div class="btns">
      <button  *ngFor="let ans of ques.answers;let id=index;" [id]="ques.title+ id" id type="button" (click)="checkResult(id, ques.numGoodAnswer, ques.title)" class="favorite styled" > {{id+1}} </button>
      <button id="bt5" *ngIf="isBtnCloseVisible" type="button"  (click)="closeModal()" class="favorite styled">Fermer</button>
    </div>
  </div>


<div *ngIf="nbrReponsePedago!=6" class="overlay"></div>
