<div class="modal">
  <p> La bonne reponse est A ou B ? </p>

  <div class="btns">
  <button type="button" (click)="wrong()" [ngStyle]="{'background-color': coulerReponseFausse}" class="favorite styled" > &nbsp;&nbsp; A &nbsp;&nbsp; </button>
  <button type="button" (click)="right()" [ngStyle]="{'background-color': coulerReponseVraie}" class="favorite styled"> &nbsp;&nbsp; B &nbsp;&nbsp; </button>
  <button *ngIf="isBtnCloseVisible" type="button"  (click)="closeModal()" class="favorite styled">Fermer</button>
  </div>
</div>
<div class="overlay"></div>
